<header class="header">
    <section class="title">
        <i class="fa-solid fa-pills fa-rotate-by" style="color: #183B4E; --fa-rotate-angle: 35deg;"></i>
        <h1>Meus medicamentos</h1>
    </section>

    <section class="medicines">
        <article class="add-medicine">
            <input type="text" placeholder="Procurar medicamento">
            <button>
                <i class="fa-solid fa-plus" style="color: #477289;"></i>
                <p>Adicionar medicamento</p>
            </button>
        </article>
    </section>
</header>

<main>
@if (medicines.length){
    <section class="content">
        <app-medicine></app-medicine>
    </section>
}
@else {
    <section class="empty">
        <img src="../../assets/empy-state.png" alt="Frasco de remedio">
        <h2>Nenhum medicamento cadastrado.</h2>
        <p>Cadastre o primeiro medicamento para iniciar.</p>
    </section>
}
</main>