<ion-content class="container">
  <form (ngSubmit)="OnSubmit()">
    <h3 class="title">Estamos quase lá!</h3>

    <section class="form">
      <label for="password" class="label">Informe a sua senha:</label>

      <span class="email">Email: {{ emailValue.trim() }}</span>
      <app-password-input
        name="password"
        label=""
        placeholder="Senha"
        [(value)]="passwordValue"
        autocomplete="current-password">
      </app-password-input>

      <ion-checkbox class="checkbox" label-placement="end">Lembrar de mim</ion-checkbox>
    </section>

    <button class="btn"
    type="submit"
    [disabled]="!passwordValue.trim()"
    [class.disabled]="!passwordValue.trim()">Entrar</button>

    <a class="a" (click)="RedirectToResetPasswordCodeValidation()"><span>Esqueceu a senha?</span></a>
    
    <a routerLink="/login/email" class="a"><span>Alterar email</span></a>
  </form>
</ion-content>
