<ion-content class="container">
  <h3 class="title">Estamos quase lá!</h3>

  <form class="form">
    <label class="label">Informe a sua senha:</label>
    <span class="email">Email: {{ emailValue.trim() }}</span>
    <app-password-input
      label=""
      placeholder="Senha"
      [(value)]="passwordValue">
    </app-password-input>

    <ion-checkbox class="checkbox" label-placement="end">Lembrar de mim</ion-checkbox>
  </form>

  <button class="btn"
  routerLink="/patient"
  [disabled]="!passwordValue.trim()"
  [class.disabled]="!passwordValue.trim()">Entrar</button>

  <a class="a" (click)="EmailToChangePasswordPage()"><span>Esqueceu a senha?</span></a>
  <a routerLink="/login/email" class="a"><span>Alterar email</span></a>
</ion-content>
