<ion-content class="container">
  <form (ngSubmit)="OnSubmit()">
    <h3 class="title">Cheque seu e-mail</h3>

    @if (flow === 'reset_password') {
      <label for="code" class="label">Digite o código que enviamos para redefinir sua senha</label>
    }
    @else {
      <span class="label">Digite o código que enviamos para fazer login</span> 
    }

    <section class="form">
      <label for="code" class="label">Código:</label>
      <span class="email">E-mail: {{ email.trim() }}</span>
      
      <input 
        id="code"
        name="code"
        type="text"
        class="input"
        placeholder="XXXXXX"
        autocomplete="one-time-code"
        [(ngModel)]="code"
        #codeInput="ngModel"
        maxlength="6">

      <button type="button"
        [disabled]="isTimerRunning"
        [class.disabled]="isTimerRunning"
        class="resend-btn"
        (click)="ReSendCode()">
        @if (isTimerRunning) {
          Reenviar cógido em: {{ remainingTime }}s
        }
        @else {
          Reenviar código
        }
      </button>
    </section>

    <app-loading-button type="submit"
      [loading]="loading"
      [disabled]="code.length < 6"
      [content]="flow === 'reset_password' ? 'Continuar' : 'Entrar'"
      (btnClick)="flow === 'reset_password' ? RedirectToResetPasswordPage() : RedirectToHome()">
    </app-loading-button>
  </form>

  <a (click)="RedirectToPasswordLoginPage()"><span class="a">{{ flow === 'reset_password' ? '' : 'Entrar com senha' }}</span></a>
</ion-content>