<ion-content class="container">
  <form (ngSubmit)="OnSubmit()">
    <h3 class="title">Cheque seu e-mail</h3>

    <span class="label">Enviamos um código para {{ emailValue }}</span>

    <section class="form">
      @if (flow === 'reset_password') {
        <label for="codeValue" class="label">Redefinir senha:</label>
      }
      @else {
        <label for="codeValue" class="label">Fazer login com código:</label>
      }
    
      <input 
        id="codeValue"
        name="codeValue"
        type="text"
        class="input"
        placeholder="XXX-XXX"
        autocomplete="one-time-code"
        [(ngModel)]="codeValue"
        #codeInput="ngModel"
        maxlength="6">
    </section>

    <!-- O formulário cuida do envio via (ngSubmit), não precisa de (click) aqui -->
    <button class="btn"
      type="submit"
      [disabled]="codeValue.length !== 6"
      [class.disabled]="codeValue.length !== 6">
      {{ flow === 'reset_password' ? 'Continuar' : 'Entrar'}}</button>
    

    <a (click)="RedirectToPasswordLoginPage()"><span class="a">{{ flow === 'reset_password' ? '' : 'Entrar com senha' }}</span></a>
  </form>
</ion-content>