<section class="container">
  <ul class="navbar">
    <span class="indicator" [class.active-right]="isMedicinesActive()"></span>
    
    <li>
      <i class="fa-solid fa-house" style="color: #183B4E;"></i>
      <a routerLink="" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Início</a>
    </li>
    <li>
      <i class="fa-solid fa-pills fa-rotate-by" style="color: #183B4E; --fa-rotate-angle: 35deg;"></i>
      <a routerLink="medicines" routerLinkActive="selected">Medicamentos</a>
    </li>
  </ul>
</section>