@if (label) {
    <label class="label">{{ label }}</label>
}

<div class="password-field">
    <input
        [type]="passwordVisible ? 'text' : 'password'"
        class="input"
        [placeholder]="placeholder"
        [value]="value"
        (input)="onInput($event)">

    <button
        type="button"
        class="password-toggle"
        (click)="ToggleVisibility()"
        [attr.aria-label]="passwordVisible ? 'Ocultar senha' : 'Mostrar senha'"
        [attr.aria-pressed]="passwordVisible">

        @if (passwordVisible) {
            <i class="fa-regular fa-eye icon" style="color: #232323;"></i>
        } @else {
            <i class="fa-regular fa-eye-slash icon" style="color: #232323;"></i>
        }
    </button>
</div>