<ion-content class="container">
    <h3 class="title">Crie sua nova senha</h3>

    <section class="form">
        <app-password-input
            label="Nova senha:"
            placeholder="Crie uma senha forte"
            [(value)]="registerPassword">
        </app-password-input>

        @if (registerPassword) {
            <ul class="password-requirements">
                <li [class.valid]="passwordReqs.hasMinLength">
                    Pelo menos 8 caracteres
                </li>
                <li [class.valid]="passwordReqs.hasUpperCase">
                    Pelo menos 1 letra maiúscula
                </li>
                <li [class.valid]="passwordReqs.hasLowerCase">
                    Pelo menos 1 letra minúscula
                </li>
                <li [class.valid]="passwordReqs.hasSpecialChar">
                    Pelo menos 1 caractere especial (!@#$...)
                </li>
            </ul>
        }

        <app-password-input
            label="Confirme a senha:"
            placeholder="Repita a senha"
            [(value)]="confirmPassword">
        </app-password-input>

        
        @if (!arePasswordsValid(registerPassword, confirmPassword) && registerPassword && confirmPassword) {
            <span class="error-text" >
                As senhas não coicidem
            </span>
        }
    </section>

    <button class="btn"
        [disabled]="!isFormValid"
        [class.disabled]="!isFormValid">Mudar senha
    </button>
</ion-content>