<ion-content class="container">
    <h3>Olá! Vamos começar?</h3>

    <section class="form">
        <label class="label">Informe seu e-mail:</label>
        <input type="email"
            id="email"
            name="email"
            class="input"
            required
            appEmailValidator
            placeholder="seuemail@exmeplo.com"
            [(ngModel)]="emailValue"
            #emailInput="ngModel">

        @if (emailInput.errors?.['invalidEmail'] && emailInput.dirty) {
            <span class="error-text" >
                Por favor, insira um e-mail válido.
            </span>
        }

        <app-password-input
            label="Crie sua senha:"
            placeholder="Crie uma senha forte"
            [(value)]="registerPassword">
        </app-password-input>

        <app-password-input
            label="Confirme a senha:"
            placeholder="Repita a senha"
            [(value)]="confirmPassword">
        </app-password-input>
        
        @if (registerPassword && confirmPassword) {
            @if (registerPassword !== confirmPassword) {
                <span class="error-text" >
                    As senhas não coicidem.
                </span>
            }
        }
        @else {
            <span class="error-text" >
                Por favor, informe a senha.
            </span>
        }
    </section>
    
        <button class="btn"
            [disabled]="emailInput.invalid || registerPassword !== confirmPassword"
            [class.disabled]="emailInput.invalid || registerPassword !== confirmPassword">Criar Conta
        </button>

        <a routerLink="/login/email" class="a"><span>Já possuo uma conta</span></a>
</ion-content>