<ul>
  <li class="medicine">
    <header class="medicine-header">
      <div>
        <h3>Dipirona</h3>

        <div class="dose">
          <span>500mg/g</span>
          <i class="fa-solid fa-circle dot" style="color: black;"></i>
          <span>
            <i class="fa-solid fa-tablets" style="color: black;"></i>
            Comprimido
          </span>
        </div>
      </div>

      <div class="header-actions">
        <span class="stripe">Genérico</span>
        <details class="card-menu">
          <summary class="menu-btn" aria-label="Opções do medicamento">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </summary>
          
          <ul class="dropdown-content">
            <li>
              <button type="button">
                <i class="fa-solid fa-clock-rotate-left"></i> Detalhes
              </button>
             
              <button type="button">
                <i class="fa-solid fa-pen-to-square"></i> Editar
              </button>
            
              <button type="button" class="delete-btn">
                <i class="fa-solid fa-trash"></i> Excluir
              </button>
            </li>
          </ul>
        </details>
      </div>

    </header>
    <ul class="medicine-body">
      <li class="flex-row">
        <i class="fa-solid fa-repeat info-i" style="color: #000000;"></i>
        <span class="info">Posologia:</span>
        <span class="dose">1 comprimido a cada 12h</span>
      </li>

      <li class="flex-row">
        <i class="fa-regular fa-alarm-clock fa-canvas-roomy info-i" style="color: #000000;"></i>
        <span class="info">Horários:</span>
        <ul class="schedules">
          <li>06:00</li>
          <li>18:00</li>
        </ul>
      </li>

      <li class="flex-row">
        <i class="fa-solid fa-notes-medical fa-canvas-auto info-i" style="color: #000000;"></i>
        <span class="info">Instruções:</span>
        <span class="dose">Tomar com estômago cheio.</span>
      </li>

      <li class="flex-row">
        <i class="fa-solid fa-prescription-bottle fa-width-roomy info-i" style="color: #000000;"></i>        
        <span class="info">30 comprimidos restantes (15 dias)</span>
      </li>
    </ul>

    <footer class="card-footer">
      <div class="next-dose-info">
        <span class="label">Próxima dose</span>
        <strong class="time">Hoje, 18:00</strong>
      </div>
      
      <button type="button" class="btn-take">
        <i class="fa-solid fa-check"></i>
        Tomar dose
      </button>
    </footer>
  </li>

  <li class="medicine">
    <header class="medicine-header">
      <div>
        <h3>Dipirona</h3>

        <div class="dose">
          <span>500mg/g</span>
          <i class="fa-solid fa-circle dot" style="color: black;"></i>
          <span>
            <i class="fa-solid fa-tablets" style="color: black;"></i>
            Comprimido
          </span>
        </div>
      </div>

      <div class="header-actions">
        <span class="stripe">Genérico</span>
        <details class="card-menu">
          <summary class="menu-btn" aria-label="Opções do medicamento">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </summary>
          
          <ul class="dropdown-content">
            <li>
              <button type="button">
                <i class="fa-solid fa-pen-to-square"></i> Editar
              </button>
            </li>
            <li>
              <button type="button">
                <i class="fa-solid fa-clock-rotate-left"></i> Histórico
              </button>
            </li>
            <li>
              <button type="button" class="delete-btn">
                <i class="fa-solid fa-trash"></i> Excluir
              </button>
            </li>
          </ul>
        </details>
      </div>

    </header>
    <ul class="medicine-body">
      <li class="flex-row">
        <i class="fa-solid fa-repeat info-i" style="color: #000000;"></i>
        <span class="info">Posologia:</span>
        <span class="dose">1 comprimido a cada 12h</span>
      </li>

      <li class="flex-row">
        <i class="fa-regular fa-alarm-clock fa-canvas-roomy info-i" style="color: #000000;"></i>
        <span class="info">Horários:</span>
        <ul class="schedules">
          <li>06:00</li>
          <li>18:00</li>
        </ul>
      </li>

      <li class="flex-row">
        <i class="fa-solid fa-notes-medical fa-canvas-auto info-i" style="color: #000000;"></i>
        <span class="info">Instruções:</span>
        <span class="dose">Tomar com estômago cheio.</span>
      </li>

      <li class="flex-row">
        <i class="fa-solid fa-prescription-bottle fa-width-roomy info-i" style="color: #000000;"></i>        
        <span class="info">30 comprimidos restantes (15 dias)</span>
      </li>
    </ul>

    <footer class="card-footer">
      <div class="next-dose-info">
        <span class="label">Próxima dose</span>
        <strong class="time">Hoje, 18:00</strong>
      </div>
      
      <button type="button" class="btn-take">
        <i class="fa-solid fa-check"></i>
        Tomar dose
      </button>
    </footer>
  </li>
</ul>