<ion-content class="container">
  <form (ngSubmit)="OnSubmit()">
    <h3 class="title">Que bom ter você de volta!</h3>

    <section class="form">
      <label for="email" class="label">Informe seu e-mail:</label>

      <input type="email"
          id="email"
          name="email"
          class="input"
          required
          placeholder="seuemail@exmeplo.com"
          [(ngModel)]="emailValue"
          autocomplete="email"
          #emailInput="ngModel">

      @if (!isEmailValid(emailValue) && emailValue) {
          <span class="error-text" >
              Por favor, insira um e-mail válido (ex: nome@dominio.com)
          </span>
      }
    </section>

    <button class="btn" 
      type="submit"
      [disabled]="!isFormValid"
      [class.disabled]="!isFormValid">Continuar</button>

    <a routerLink="/register" class="a"><span>Ainda não possuo uma conta</span></a>
    
    <div class="login-divider">
      <span>ou continue com</span>
    </div>
  </form>
</ion-content>
